@model BirthdaySite.ViewModels.Forum.GroupViewModel
<div class="hidden-elements">
    <div id="hidden-group">
        @Model.Name
    </div>

    <div id="hidden-author">
        @User.Identity.Name
    </div>
</div>

@{Html.RenderAction("Message", "Forum", Model.Name);}

<footer>

    @Html.AntiForgeryToken()
    <input id="input-message-content" type="text" name="message" maxlength="30" />
    <button id="input-submit-button">Send</button>

    @Html.ActionLink("Back", "Index");
</footer>