@{
    ViewBag.Title = "404";
}

<h1 class="text-warning">Error 404</h1>
<div class="row">
    <div class="offset-s1 col s10">
        <img class="img-rounded" src="~/Images/ErrorImage.jpg" style="height:100%;width:100%;opacity:0.7;">
    </div>
</div>
